<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lzj.vtm.demo">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".AppContext">

        <!-- 启动页 -->
        <activity
            android:name="com.lzj.vtm.demo.AppStart"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 引导页 -->
        <activity
            android:name="com.lzj.vtm.demo.AppStartGuide"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- 主页 -->
        <activity
            android:name="com.lzj.vtm.demo.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <!-- Fragment普通页面 -->
        <activity
            android:name="com.lzj.vtm.demo.base.SimpleBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- Fragment详情页面 -->
        <activity
            android:name="com.lzj.vtm.demo.base.DetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <service android:name="com.lzj.vtm.demo.download.DownloadService" />

        <!-- repository+retrofit实现网络请求与线程调控  -->
        <activity
            android:name=".fun.rxjava.vp.RetrofitRxJavaActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!-- Retrofit+RecyclerView+Swiperefreshlayout实现分页加载  -->
        <activity
            android:name=".fun.recycleswpie.base.RecyclerFootActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".fun.recycleswpie.swipe.SwipeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".fun.recycleswpie.basetest.RecyclerFuLiActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

    </application>

</manifest>